{$GATEWAY_URL:localhost:80} {
    # 1. Serve the frontend static files
    root * /usr/share/caddy
    file_server

    # 2. Reverse proxy API traffic to the Go backend
    handle /api/* {
        reverse_proxy rr-api:8080
    }

    # 3. Proxy Docs traffic
    handle /docs/* {
        reverse_proxy rr-api:8080
    }
}
